@import "../../lib/var";
@import "../../lib/mixins";
@import "../../base/base";



.terms-item{
    @include flex (initial, center, center);
    width: 160px;
    height: 160px;
    border-radius: 25px;
    margin: 10px 60px;
    padding: 20px;
    box-shadow: 0 0 30px rgb(24, 148, 255, 0.16);
    cursor: pointer;
}
span{
    text-align: center;
    font-size: $text1;
    color: $title-color;
    font-weight: bold;
}