@import "../../base/base";

.pages-header{
    @include flex(initial, center, center);
    background-color: $primary-color;
    color: white;
    h1{font-size: $header2;}
}



/*Medium and small devices*/
@media only screen and (max-width: 992px) {
    .pages-header{font-size: $header3;}
}