@import "../lib/var";
@import "../lib/mixins";
@import url('http://cdn.font-store.ir/yekan.css');

/*Whole page*/
*{
    font-family: Yekan;
    font-style: normal;
    font-weight: normal;
    box-sizing : border-box ;
}

/*Body of the page*/
body{
    background-color: white;
}

/*All links*/
a{
    color: black;
    cursor: pointer;
}
a:hover{color: $secondary-color;}
a, a:hover{text-decoration: none;}

/*All headings*/
h1, h2, h3, h4, h5{font-weight: bold;}

/*All buttons and inputs*/
button, input{
    outline: none;
    border: none;
}
button{cursor: pointer;}