@import "../lib/var";
@import "../lib/mixins";
@import url('http://cdn.font-store.ir/yekan.css');

/*Whole page*/
*{
    font-family: Yekan;
    font-style: normal;
    font-weight: normal;
    box-sizing : border-box ;
}

/*Body of the page*/
body{
    background-color: white;
}

/*All links*/
a{
    color: black;
    cursor: pointer;
}
a:hover, a:active, a.active{color: $secondary-color;}
a, a:hover{text-decoration: none;}

/*All headings*/
h1, h2, h3, h4, h5, h6{font-weight: bold;}
h1{font-size: $header1;}
h2{font-size: $header2;}
h3{font-size: $main-header;}
h4{font-size: $header3;}
h5{font-size: $text1;}
h6{font-size: $text2;}

/*All buttons and inputs*/
button, input{
    outline: none;
    border: none;
}
button{cursor: pointer;}
button:disabled{cursor: not-allowed;}

/*َAll input placeholders*/
::placeholder{
    font-size: $text2;
    color: $placeholder-color;
}

/*All input labels*/
label{font-size: $text3;}

/*Item opacity*/
.opacityOne {opacity: 1;}
.opacityBlur{
    opacity: 0.3;
    &:hover{opacity: 1;}
}
.blur{opacity: 0.7;}

//Hide number input arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}