.home-grid, .faq-grid, .registry-grid, .terms-grid, .contact-grid, .form-grid{
    display: grid;
    grid-template-columns: 100%;
    >div{grid-column: 1 / span 1;}
    >div:nth-child(1){grid-row: 1 / span 1;}
    >div:nth-child(2){grid-row: 2 / span 1;}
    >div:nth-child(3){grid-row: 3 / span 1;}
    >div:nth-child(4){grid-row: 4 / span 1;}
    >div:nth-child(5){grid-row: 5 / span 1;}
    >div:nth-child(6){grid-row: 6 / span 1;}
    >div:nth-child(7){grid-row: 7 / span 1;}
    >div:nth-child(8){grid-row: 8 / span 1;}
}

.home-grid{
    background-color: #f8f9fd;
    grid-template-rows: 100px 650px 500px 700px 600px 700px 130px 350px;
}
.faq-grid{grid-template-rows: 100px 120px 900px 130px 350px;}
.registry-grid{grid-template-rows: 100px 650px 150px 850px 130px 350px;}
.terms-grid{grid-template-rows: 100px 120px 800px 130px 350px;}
.contact-grid{grid-template-rows: 100px 120px 750px 130px 350px;}
.form-grid{grid-template-rows: 100px 800px;}


/*Medium devices (landscape tablets, 768px-992px)*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .home-grid{grid-template-rows: 100px 350px 400px 1000px 350px 400px 130px 200px;}
    .faq-grid{grid-template-rows: 100px 100px 900px 100px 200px;}
    .registry-grid{grid-template-rows: 100px 750px 100px 700px 100px 200px;}
    .terms-grid{grid-template-rows: 100px 100px 800px 100px 200px;}
    .contact-grid{grid-template-rows: 100px 100px 1300px 100px 200px;}
    .form-grid{grid-template-rows: 100px 1200px;}
}
/*Small devices (portrait tablets and large phones, 600px-768px)*/
@media only screen and (max-width: 768px) {
    .home-grid{grid-template-rows: 80px 800px 600px 1100px 850px 900px 170px 200px;}
    .faq-grid{grid-template-rows: 100px 100px 950px 170px 200px;}
    .registry-grid{grid-template-rows: 100px 600px 300px 1300px 170px 200px;}
    .terms-grid{grid-template-rows: 100px 100px 850px 170px 200px;}
    .contact-grid{grid-template-rows: 100px 100px 1200px 170px 200px;}
    .form-grid{grid-template-rows: 100px 800px;}
}