@import "../../lib/mixins";
@import "../../lib/var";
@import "../../base/base";

.contact-form{@include flex(initial, flex-start, initial);}

form{margin: auto;}



/*Small devices (portrait tablets and large phones, 600px-768px)*/
@media only screen and (max-width: 768px) {
    .contact-form{margin: auto;}
    .form-basic{width: 300px;}
}