@import "../../base/base";

.contact-form{@include flex(initial, flex-start, initial);}

form{margin: auto;}


/*Large devices (Smaller laptops/desktops, 992px-1200px)*/
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .contact-form{margin: 0 50px;}
}
/*Medium devices (landscape tablets, 768px-992px)*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .contact-form{margin: auto;}
}
/*Small devices (portrait tablets and large phones, 600px-768px)*/
@media only screen and (max-width: 768px) {
    .contact-form{margin: auto;}
}