@import "../../../base/base";

.darmanito_logo{
    @include flex(row, initial, initial);
    padding-left: 80px;
    a{
        @include flex(initial, center, initial);
        margin-left: 10px;
    }
    div{@include flex(column, initial, center);}
    h4{font-size: 18px;}//Exception
    p{font-size: $text3;}
    h4,p{margin: 0;}
}