@import "../../lib/mixins";
@import "../../lib/var";
@import "../../base/base";

.faq-question{
    @include flex(row, initial, initial);
    h5{
        font-size: $text1;
        color: $title-color;
        padding-right: 50px;
    }
    img{cursor: pointer;}
}

p{
    font-size: $text2;
    padding-right: 100px;
    margin-top: 0;
}



/*Small devices (portrait tablets and large phones, 600px-768px)*/
@media only screen and (max-width: 768px) {
    .faq-question{
        h5{font-size: $text3;}
        p{font-size: $text3;}
    }
}