@import "../../base/base";


.about-stats{
    @include flex(row, center, space-between);
    background-color: $primary-color;
    color: white;
    > div{
        @include flex(column, center, center);
        &:first-child{margin-right: 100px;}
        &:last-child{margin-left: 100px;}
    }
    p{font-size: $text1;}
    h1, p{margin: 0;}
}



/*Medium devices (landscape tablets, 768px-992px)*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .about-stats{
        p{font-size: $text2;}
        h1{font-size: $header2;}
    }
}
/*Small devices (portrait tablets and large phones, 600px-768px)*/
@media only screen and (max-width: 768px) {
    .about-stats{
        @include flex(column, center, center);
        > div{
            &:first-child{margin-right: 0;}
            &:last-child{margin-left: 0;}
        }
        h1{font-size: $header2;}
        p{font-size: $text2;}
    }
}