@import "../../lib/mixins";
@import "../../lib/var";
@import "../../base/base";

/*FAQ page items container*/
.faq-item{
    @include flex(column, initial, center);
    position: relative;
    cursor: pointer;
    padding: 50px;
    .faq-item_badge{
        display:inline-block;
        border-radius:15px;
        font-size: $text3;
        background-color: $label;
        color: black;
        text-align: center;
        position: absolute;
        top: 15%;
        right: 37%;
        width: 65px;
        height: 25px;
        margin: auto;
    }
    img{
        border-radius: 25px;
        box-shadow: 0 10px 20px 10px rgb(114, 190, 255, 0.1);
    }
    .faq-item_title {
        position: absolute;
        cursor: pointer;
        color: $title-color;
        bottom: 25%;
        right: 38%;
    }
}



/*Medium devices (landscape tablets, 768px-992px)*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .faq-item{
        padding: 15px;
        .faq-item_badge{
            top: 2%;
            right: 33%;
        }
        .faq-item_title{
            bottom: 18%;
            right: 35%;
        }
    }
}
/*Small devices (portrait tablets and large phones, 600px-768px)*/
@media only screen and (max-width: 768px) {
    .faq-item{
        padding: 15px;
    }
}