@import "../../base/base";

.home-register_container{margin:80px 0;}

.home-register{
    @include flex(row, initial, center);
    background-color: white;
    border-radius: 25px;
    width: 80%;
    margin:auto;
    img{
        width: 45%;
        padding: 130px 0 0 50px;
    }
}

.home-register_body{
    @include flex(column, initial, initial);
    width: 55%;
    padding: 80px 60px 0 50px;
    > div{@include flex(row, center, initial);}
    > h4{color: $title-color;}
    > p{font-size: $text1;}
    button{
        margin-right: -70px;
        margin-top: 50px;
    }
}





/*Large devices (Smaller laptops/desktops, 992px-1200px)*/
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .home-register_body{
        padding: 30px 30px 0 30px;
        > p{font-size: $text2;}
    }    
}
/*Medium devices (landscape tablets, 768px-992px)*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .home-register_container{margin:50px 0;}
    .home-register_body{
        padding : 20px 20px 0 20px;
        h4{font-size: $text1;}
        p{font-size: $text3;}
        button{margin-right: -55px;}
    }
}
/*Small devices (portrait tablets and large phones, 600px-768px)*/
@media only screen and (max-width: 768px) {
    .home-register_container{margin:0;}
    .home-register{
        @include flex(column-reverse, center, center);
        margin-top: 150px;
        width: 90%;
        padding:30px;
        img{
            width: 100%;
            padding: 0;
        }
    }
    .home-register_body{
        width: 100%;
        padding:0 10px;
        p{font-size: $text3;}
        h4{font-size: $text1;}
        button{margin-right: 0;}
    }
}