@import "../../../base/base";

h4, p{margin: 0;}
.modal{
    @include flex(column, center, center);
    position: fixed;
    z-index: 2;
    top: 10%;
    right: 30%;
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    img{
        width: 50%;
        height: 50%;
        margin-bottom: 10px;
    }
    h4{color: $modal-title;}
    p{font-size: $text1;}
    > button{
        @include flex(initial, center, center);
        background-color: $secondary-color;
        color: white;
        font-size: $text1;
        border-radius: 10px;
        border: none;
        outline: none;
        width: 70%;
        height: 10%;
        margin: auto;
    }
}


/*Large devices (Smaller laptops/desktops, 992px-1200px)*/
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .modal{
        width: 400px;
        height: 400px;
    }
}
/*Medium devices (landscape tablets, 768px-992px)*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .modal{
        width: 300px;
        height: 300px;
    }
}
/*Small devices (portrait tablets and large phones, 600px-768px)*/
@media only screen and (max-width: 768px) {
    .modal{
        width: 180px;
        height: 180px;
        top: 20%;
        right: 35%;
        img{
            width: 40%;
            height: 40%;
            margin: 15px 0 0 0;
        }
        h4{font-size: $text1;}
        p{font-size: $text2;}
        button{
            width: 85px;
            height: 30px;
            margin-top: 0;
            font-size: $text2;
            border-radius: 5px;
        }
    }
}